<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h3 text-teal fw-bold"><i class="fa-solid fa-user-plus"></i> Create Profile</p>
                <p class="lead px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, magnam necessitatibus impedit praesentium enim dolorum fugit. Quam commodi quae sed quos ducimus, voluptatibus qui libero, dolores quas dicta iusto!</p>
            </div>
        </div>
    </div>
</section> 
<div>
    <!-- <app-edit-profile [(profileData)]="profileData"></app-edit-profile> -->
    <app-edit-profile (sectionContent)="handleSectionContent($event)">></app-edit-profile>
    <app-add-education [(profileData)]="profileData"></app-add-education>
    <app-add-experience [(profileData)]="profileData"></app-add-experience>
</div>
<!-- <h3>Profile Data:</h3>
<pre>{{ profileData | json }}</pre> -->
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" *ngIf="hasProfile()">
                    <div class="card-header bg-light-teal">
                        <span class="text-teal fs-4 fw-bold">Profile Details</span>
                        <div class="form-check form-switch float-end">
                            <input class="form-check-input bg-teal" type="checkbox" role="switch" (click)="updateProfile()">
                            <label class="form-check-label text-teal fw-bold" for="flexSwitchCheckDefault">Update</label>
                        </div>
                    </div>
                    <div class="card-body bg-light-teal">
                        <ul class="list-group mb-3">
                            <li class="list-group-item">
                                <small>Company: {{profile.company}}</small><br>
                                <small>Website: {{profile.website}}</small><br>
                                <small>Designation: {{profile.designation}}</small><br>
                                <small>Skills: {{profile.skills}}</small><br>
                                <small>Biography: {{profile.bio}}</small><br>
                                <small>GithubUserName: {{profile.githubusername}}</small><br>
                                <small>FacebookURL: {{social.facebook}}</small><br>
                                <small>YoutubeURL: {{social.youtube}}</small><br>
                                <small>InstagramURL: {{social.instagram}}</small><br>
                                <small>TwitterURL: {{social.twitter}}</small><br>
                                <small>LinkedinURL: {{social.linkedin}}</small><br>
                                <small>School: {{edu.school}}</small><br>
                                <small>Degree: {{edu.degree}}</small><br>
                                <small>Field of Study: {{edu.fieldofstudy}}</small><br>
                                <small>From: {{edu.from | date: 'dd-MMM-YYYY'}}</small><br>
                                <small>To: {{edu.to | date: 'dd-MMM-YYYY'}}</small><br>
                                <small>Description: {{edu.description}}</small><br>
                                <small>Title: {{exp.title}}</small><br>
                                <small>Company: {{exp.company}}</small><br>
                                <small>Location: {{exp.location}}</small><br>
                                <small>From: {{exp.from | date: 'dd-MMM-YYYY'}}</small><br>
                                <small>To: {{exp.to | date: 'dd-MMM-YYYY'}}</small><br>
                                <small>Current: {{exp.current}}</small><br>
                                <small>Description: {{exp.description}}</small><br>
                                <button class="btn btn-danger btn-sm" (click)="deleteExperience(exp._id)">Delete</button>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div>
                        <h4 class="text-teal">Personal Information</h4>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Company</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Website</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="file" >
                      </div>
                    <div class="mb-3">
                       <select name="Select your Designation" class="form-control form-select">
                        <option selected>Select your Designation</option>
                        <option value="Jr Software Engineer">Jr Software Engineer</option>
                        <option value="Sr Software Engineer">Sr Software Engineer</option>
                        <option value="Team Lead">Team Lead</option>
                        <option value="Sr Team Lead">Sr Team Lead</option>
                        <option value="Project Manager">Project Manager</option>
                        <option value="Sr Project Manager">Sr Project Manager</option>
                       </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Skills</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Biography</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Github User Name</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Facebook URL</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Youtube URL</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Instagram URL</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Twitter URL</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Linkedin URL</span>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <h4 class="text-teal">Education Details</h4>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">School</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Degree</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Field of Study</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">From Date</span>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label">
                          Current
                        </label>
                      </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">To Date</span>
                        <input type="date" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Description</span>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div>
                        <h4 class="text-teal">Experience Details</h4>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Title</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Company</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Location</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">From Date</span>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label">
                          Current
                        </label>
                      </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">To Date</span>
                        <input type="date" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light-teal">Description</span>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-outline-teal text-teal fw-bold mx-3" value="Update">
                        <a routerLink="/profiles/dashboard" class="btn btn-outline-warning text-warning fw-bold">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->

<div style="margin-bottom: 200px;"></div>